* {
	margin: 0;
	padding: 0;
}


/*
 Account
*/
#account{
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-size: 14px;
	background-color: #f1f1f1;
}
/* 120 50 */
#account > .logo{
	position: absolute;
	top: 56px;
	left: 56px;
	font-size: 36px;
	color: #ea6f5a;
	letter-spacing:4px;
	background: url('https://i.loli.net/2018/04/10/5acc4ce713d29.png') center center no-repeat;
	text-indent: -9999px;
	width: 120px;
	height: 120px;
}
.account-sign{
	max-width: 320px;
	margin: 0 auto;
}
.account-sign .title{
	font-size: 18px;
}
.account-sign .title a,.account-sign .title b{
	padding: 10px;
	color: #969696;
}
.account-sign .title .active{
	font-weight: 700;
	color: #ea6f5a;
	border-bottom: 2px solid #ea6f5a;
}
.account-sign .title a:hover{
	border-bottom: 2px solid #ea6f5a;
}
.account-sign .intro{
	font-size: 16px;
	padding: 5px 0;
}
.btn-remember{
	margin-top: 7px;
	margin-bottom: 7px;
}

.account-more legend{
	position: relative;
	margin: 20px 0;
	font-size: 12px;
	border: none;
}
.account-more legend:before,.account-more legend:after{
	content: "";
	border-top: 1px solid #b5b5b5;
	display: block;
	position: absolute;
	width: 60px;
	top: 8px;
	left: 30px;
}
.account-more legend:after{
	left: auto;
	right: 30px;
}
.account-more ul{
	list-style:none;
	margin: 0;
	padding:0;
}
.account-more li{
	display: inline-block;
	margin:0 5px;
}
.account-more li > a{
	display: block;
	width: 48px;
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}
.account-more li > a i{
	font-size: 24px;
	line-height: 48px;
}
.account-more a.btn-weibo{
	background-color: #e05244;
}
.account-more a.btn-wechat{
	background-color: #00bb29;
}
.account-more a.btn-qq{
	background-color: #498ad5;
}
.account-more a.btn-local{
	background-color: #006633;
}
.account-more a.btn-github{
	background-color: #333;
}
.captcha-box{
	padding: 0;
}
.captcha-box,.captcha-box img{
	cursor: pointer;
}
@media (max-width: 768px) {
	#account{
			background-color: #fff;
	}
	#account > .logo{
			top: 15px;
			left: 50%;
	margin-left: -60px;
	}
.account-inner{
			width: auto;
			margin-top: 150px;
			box-shadow: none;
			padding: 0 30px;
	}
}
